html {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    margin: 0;
}

:root {
    --phicoeff: 0.3;
}

body {
    margin: 0;
}

#card-canvas {
    margin: 0;
    /*width: calc(100vw - 40px);*/
    /*height: 70vh;*/
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(0, -102vh);
}

pre code.hljs {
    font-family: "Space Mono", monospace;
    font-size: 16px;
    background-color: #ffffff;
}

.card {
    --off: 0;
    --phi: 0;
    position: absolute;
    border-image: linear-gradient(to right, #0077FF 47%, #65AC44 76%, #FF7700 100%);
    border-image-slice: 1;
    border-image-outset: 1;

    border-width: 4px;
    border-style: solid;
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: calc(100vw - 40px);
    height: 100vh;
    margin: -4px;
    transform: translate3d(0vw,
                            calc((92 + 82 * sin((var(--off) + var(--phi) * var(--phicoeff)) * 1deg)) * 1vh),
                            calc((-82 + 82 * cos((var(--off) + var(--phi) * var(--phicoeff)) * 1deg)) * 1vh));

    z-index: calc((-82 + 82 * cos((var(--off) + var(--phi) * var(--phicoeff)) * 1deg)) + 164);
}

.card-header {
    display: flex;
    margin-bottom: 35px;
}

.card-title {
    font-size: 30px;
}

.card-link {
    margin-left: auto;
    font-size: 24px;
    color: #0077FF;
    text-decoration-style: wavy;
    font-weight: normal;
}

.card-content {
    display: flex;
    flex-direction: row;
    margin: 15px;
    width: 100%;
    column-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-image {
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
}

.card-content-col {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.card-section {
    margin-bottom: 25px;
}

.card-section-para {
    font-weight: normal;
    min-width: 220px;
    max-width: 275px;
}

.card-section-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.card-lang {
    color: #000;
    /*background: linear-gradient(to right, #0077FF 47%, #65AC44 76%, #FF7700 100%);*/
    width: 70%;
    max-width: 460px;
    display: flex;
    overflow: clip;
}


.card-lang-entry {
    position: relative;
    text-align: center;
    margin: 2px;
    font-size: 20px;
    font-weight: 400;
}

.card-lang > div:first-child {
    text-align: left;
    margin-right: auto;
}

.card-lang > div:last-child {
    text-align: right;
    margin-left: auto;
}