:root {
    --selection: rgba(85, 85, 85, 0.35);
    --background: #fff;
    --text: #000;
    --string: #65AC44;
    --number: #FF7700;
    --title: #FFBF00;
    --built_in: #FF008C;
    --keyword: #FF008C;
    --function: #0077FF;
    --params: #000;
    --comment: #7f7f7f;
}

pre code {
    display: block;
    overflow-x: auto; !important;
    padding: 10px;
    background: var(--background);
    -webkit-text-size-adjust: none;
}

pre code *::selection,
.hljs::selection {
    background: var(--selection) !important;
}

.hljs {
    color: var(--text);
}

.hljs-string, .hljs-meta .hljs-string  {
    color: var(--string);
}

.hljs-number {
    color: var(--number) !important;
}

.hljs-title {
    color: var(--title) !important;
}

.hljs-built_in {
    color: var(--built_in) !important;
}

.hljs-keyword {
    color: var(--keyword) !important;
}

.hljs-function > .hljs-keyword {
    color: var(--function) !important;
    font-style: italic;
}

.hljs-params {
    color: var(--params);
}

.hljs-comment {
    color: var(--comment);
}

.hljs-deletion, .hljs-selector-class, .hljs-selector-id, .hljs-template-tag, .hljs-type {
    color: var(--function) !important;
    font-style: italic;
}

.hljs-meta {
    color: var(--params);
}