html {
	font-family: "Space Grotesk", serif;
  	font-optical-sizing: auto;
  	font-weight: 500;
  	font-style: normal;
}

.experience-blob {
	position: absolute;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	border: 3px solid #000000;
	z-index: -10;
}

.blob-tag {
	position: absolute;
	border-radius: 6px;
	width: auto;
	height: auto;
	background-color: #adadad;
	z-index: 3000;
	bottom: -10px;
    right: 12px;
    float: left;
    white-space: nowrap;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.blob-container {
	position: absolute;
}